    <!--begin::Thumbnail settings-->
    <div class="card card-flush py-4">
      <!--begin::Card header-->
      <div class="card-header">
        <!--begin::Card title-->
        <div class="card-title" *ngIf="options.title">
          <h2>{{ options.title }}</h2>
        </div>
        <!--end::Card title-->
      </div>
      <!--end::Card header-->
      <!--begin::Card body-->
      <div class="card-body text-center pt-0">
        <!--begin::Image input-->

        <div class="image-input image-input-empty image-input-outline image-input-placeholder mb-3"
            data-kt-image-input="true">
          <!--begin::Preview existing avatar-->
          <div class="image-input-wrapper w-150px h-150px" [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"></div>
          <!--end::Preview existing avatar-->

          <!--begin::Label-->
          <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
            data-kt-image-input-action="change"
            data-bs-toggle="tooltip"
            data-bs-dismiss="click"
            title="Change logo">
            <i class="ki-duotone ki-pencil fs-7">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
            <!--begin::Inputs-->
            <input type="file" accept=".jpg,.png" class="button" (change)="onImageSelected($event)">
            <input type="hidden" name="logo_remove" />
            <!--end::Inputs-->
          </label>
          <!--end::Label-->

          <!--begin::Cancel-->
          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
          data-kt-image-input-action="cancel"
          data-bs-toggle="tooltip"
          data-bs-dismiss="click"
          title="Cancel logo">
            <i class="ki-duotone ki-cross fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <!--end::Cancel-->

          <!--begin::Delete-->
          <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow"
          data-kt-image-input-action="remove"
          data-bs-toggle="tooltip"
          data-bs-dismiss="click"
          title="Delete logo">
            <i class="ki-duotone ki-cross fs-2">
              <span class="path1"></span>
              <span class="path2"></span>
            </i>
          </span>
          <!--end::Delete-->
        </div>
        <!--end::Image input-->
        <!--begin::Description-->
        <div class="text-muted fs-7" *ngIf="options.description">{{ options.description }}</div>
        <!--end::Description-->
      </div>
      <!--end::Card body-->
    </div>
    <!--end::Thumbnail settings-->
