<!-- DOCUMENTACION DEL COMPONENTE: https://www.npmjs.com/package/ngx-dropzone-wrapper -->

<!--begin::Dropzone-->
<div class="dropzone" [dropzone]="config" (error)="onUploadError($event)" (success)="onUploadSuccess($event)">
  <!--begin::Message-->
  <div class="dz-message needsclick">
    <!--begin::Icon-->
    <i class="ki-duotone ki-file-up text-primary fs-3x">
      <span class="path1"></span>
      <span class="path2"></span>
    </i>
    <!--end::Icon-->
    <!--begin::Info-->
    <div class="ms-4">
      <h3 class="fs-5 fw-bold text-gray-900 mb-1" *ngIf="options.text">{{ options.text }}</h3>
      <span class="fs-7 fw-semibold text-gray-400" *ngIf="options.countFile > 1">Sube hasta {{ options.countFile }} archivos</span>
      <span class="fs-7 fw-semibold text-gray-400" *ngIf="options.countFile === 1">Sube un archivos</span>
    </div>
    <!--end::Info-->
  </div>
</div>
<!--end::Dropzone-->
