<ng-container *ngIf="isLoadingUser$ && isLoadingRol$ | async">
  <app-loader></app-loader>
</ng-container>
<ng-container *ngIf="(isLoadingUser$ && isLoadingRol$ | async) === false">
  <div class="card mb-5 mb-xl-8">
    <!-- begin::Header -->
    <div class="card-header border-0 pt-5 justify-content-end">
      <!-- <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">New Arrivals</span>
        <span class="text-muted mt-1 fw-bold fs-7">Over 500 new products</span>
      </h3> -->
      <div class="card-body container">
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-8">
              <div class="row">
                <div class="col col-lg-12">
                  <input
                  type="text"
                  class="form-control"
                  name="searchText"
                  placeholder="Ingrese un Correo o Nombre"
                  value=""
                  [(ngModel)]="search"
                /><small class="form-text text-muted"
                  ><b>Buscar</b> por correo y nombre</small
                >
                </div>
              </div>
              <div class="row mt-5">
                <div class="col col-lg-4">
                  <ng-select [(ngModel)]="state" placeholder="Selecciona el Estado">
                    <ng-option class="form-control" value="1">Activo</ng-option>
                    <ng-option class="form-control" value="2">Inactivo</ng-option>
                 </ng-select>
                  <small class="form-text text-muted"><b>Filtrar</b> por Estado</small>
                </div>
                <div class="col col-lg-8">
                  <ng-select [(ngModel)]="selectedRol" placeholder="Selecciona un Rol">
                    <ng-option class="form-control" *ngFor="let rol of roles" [value]="rol.id">{{rol.name}}</ng-option>
                 </ng-select>
                    <small class="form-text text-muted"
                    ><b>Filtro</b> por Rol</small
                  >
                </div>
              </div>
            </div>
            <div class="col col-lg-4">
              <div class="row mt-5 mt-lg-0">
                <div class="col-1 col-12 col-sm-3 col-lg-3 row-cols-1 row-cols-sm-12 row-cols-lg-12">
                  <button class="btn btn-sm btn-primary" placement="top" [ngbTooltip]="'Filtrar'" (click)="allUsers()">
                    <app-keenicon name="filter-search" type="outline"  class="text-white fs-2x"></app-keenicon>
                  </button>
                </div>
                <div class="col-1 col-12 col-sm-3 col-lg-3 row-cols-1 row-cols-sm-12 row-cols-lg-12 mt-2 mt-sm-0 mt-lg-0">
                  <button class="btn btn-sm btn-dark" placement="top" [ngbTooltip]="'Refrescar'" (click)="reset()">
                    <app-keenicon name="arrows-circle" type="outline" class="text-white fs-2x"></app-keenicon>
                  </button>
                </div>
                <div class="col-1 col-12 col-sm-3 col-lg-3 row-cols-1 row-cols-sm-12 row-cols-lg-12 mt-2 mt-sm-0 mt-lg-0">
                  <button class="btn btn-sm btn-primary" placement="top" [ngbTooltip]="'Crear Usuario'" (click)="addUser()">
                    <app-keenicon name="plus" class="text-white fs-2x"></app-keenicon>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end::Header -->
    <!-- begin::Body -->
    <div class="card-body py-3">
      <!-- begin::Table container -->
      <div class="table-responsive">
        <!-- begin::Table -->
        <table class="table align-middle gs-0 gy-4">
          <!-- begin::Table head -->
          <thead>
            <tr class="fw-bolder text-muted bg-light">
              <th class="ps-4 min-w-100px rounded-start">Nombres</th>
              <th class="ps-4 min-w-100px rounded-start">Apellidos</th>
              <th class="ps-4 min-w-100px rounded-start">Emails</th>
              <th class="ps-4 min-w-100px rounded-start">Rol</th>
              <th class="min-w-100px">Status</th>
              <th class="text-center rounded-center"></th>
            </tr>
          </thead>
          <!-- end::Table head -->
          <!-- begin::Table body -->
          <tbody>
            <tr *ngFor="let user of users">
              <td class="ps-4 min-w-100px rounded-start">{{ user.name }}</td>
              <td class="ps-4 min-w-100px rounded-start">{{ user.surname }}</td>
              <td class="ps-4 min-w-100px rounded-start">{{ user.email }}</td>
              <td class="ps-4 min-w-100px rounded-start">
                <span *ngIf="user.state === 1 || user.state === '1'" class="badge badge-light-success fs-7 fw-bold">ACTIVO</span>
                <span *ngIf="user.state === 2 || user.state === '2'" class="badge badge-light-danger fs-7 fw-bold">INACTIVO</span>
              </td>
              <td class="ps-4 rounded-start">
                <a
                  (click)="editUser(user)"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1">
                  <app-keenicon name="pencil" class="fs-3 text-info"></app-keenicon>
                </a>
                <a
                  (click)="delete(user)"
                  class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm">
                  <app-keenicon name="trash" class="fs-3 text-danger"></app-keenicon>
                </a>
              </td>
            </tr>
          </tbody>
          <!-- end::Table body -->
        </table>
        <!-- end::Table -->
      </div>
      <!-- end::Table container -->
    </div>
    <!-- begin::Body -->
  </div>

  <div>
    <ngb-pagination
      [collectionSize]="totalPages"
      [(page)]="currentPage"
      [pageSize]="20"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
</div>
</ng-container>
