<div class="pb-10 pb-lg-15">
  <h2 class="fw-bolder d-flex align-items-center text-dark">
    ¡Bienvenido!
    <!-- <i
      class="fas fa-exclamation-circle ms-2 fs-7"
      ngbTooltip="Billing is issued based on your selected account type"
    ></i> -->
  </h2>

  <!-- <div class="text-gray-400 fw-bold fs-6">
    If you need more info, please check out
    <a href="#" class="link-primary fw-bolder"> Help Page </a>
    .
  </div> -->
  <div class="fw-bold fs-6">
    Estamos emocionados de tenerte como parte de nuestra comunidad de usuarios. <br>
    Tu viaje con nosotros comienza ahora, y estamos aquí para ayudarte a configurar tu cuenta de la manera más sencilla y eficiente posible.
  </div>
  <br>
  <div class="fw-bold fs-6">
    Para comenzar, te guiaremos a través de los pasos esenciales para configurar tu cuenta. Esto incluye la personalización de tu negocio, la definición de tus productos o servicios, y la configuración de tus opciones de pago.
  </div>
</div>
