/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
// @import "./assets/css/style.rtl";
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

// Keenicons - High quality and pixel perfect font icons available in 3 styles, duotone, outline and solid for Metronic elements
@import "./assets/plugins/keenicons/duotone/style.css";
@import "./assets/plugins/keenicons/outline/style.css";
@import "./assets/plugins/keenicons/solid/style.css";

// Estilos para el componente Toastr: https://github.com/scttcper/ngx-toastr
@import 'ngx-toastr/toastr-bs5-alert';

.toast-success, .toast-error, .toast-warning, .toast-info{
  color: white !important;
}

@import "node_modules/ngx-tagify/styles/tagify.scss";

// Estilos para el componente Tagify: https://github.com/Brakebein/ngx-tagify
.tagify__tag{
  margin: 5px !important;
}



/* You can add global styles to this file, and also import other style files */

.tagify {
  --tag-pad: 0.15rem 0.5rem;
  width: 100%;
}
.tagify__input:empty::before {
  line-height: inherit;
}
.tagify.form-control {
  height: unset;
}

/* Suggestions items */
:root {
  --tagify-dd-item-pad: .5em .7em;
}

.tagify__dropdown.users-list .tagify__dropdown__item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
  grid-template-areas: "avatar name"
                      "avatar email";
}

.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap{
  transform: scale(1.2);
}

.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap{
  grid-area: avatar;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  overflow: hidden;
  background: #EEE;
  transition: .1s ease-out;
}

.tagify__dropdown.users-list img{
  width: 100%;
  vertical-align: top;
}

.tagify__dropdown.users-list header.tagify__dropdown__item > div,
.tagify__dropdown.users-list .tagify__dropdown__item strong{
  grid-area: name;
  width: 100%;
  align-self: center;
}

.tagify__dropdown.users-list span{
  grid-area: email;
  width: 100%;
  font-size: .9em;
  opacity: .6;
}

.tagify__dropdown.users-list .tagify__dropdown__item__addAll{
  border-bottom: 1px solid #DDD;
  gap: 0;
}

.tagify__dropdown.users-list .remove-all-tags{
  float: right;
  font-size: .8em;
  padding: .2em .3em;
  border-radius: 3px;
  user-select: none;
}

.tagify__dropdown.users-list .remove-all-tags:hover{
  color: white;
  background: salmon;
}


/* Tags items */
.tagify__tag{
  white-space: nowrap;
}

.tagify__tag img{
  width: 100%;
  vertical-align: top;
  pointer-events: none;
}


.tagify__tag:hover .tagify__tag__avatar-wrap{
  transform: scale(1.6) translateX(-10%);
}

.tagify__tag .tagify__tag__avatar-wrap{
  width: 16px;
  height: 16px;
  white-space: normal;
  border-radius: 50%;
  background: silver;
  margin-right: 5px;
  transition: .12s ease-out;
}

.tagify__dropdown__itemsGroup:empty{
  display: none;
}

.tagify__dropdown__itemsGroup::before{
  content: attr(data-title);
  display: inline-block;
  font-size: .9em;
  padding: 4px 6px;
  margin: var(--tagify-dd-item-pad);
  font-style: italic;
  border-radius: 4px;
  background: #00ce8d;
  color: white;
  font-weight: 600;
}

.tagify__dropdown__itemsGroup:not(:first-of-type){
  border-top: 1px solid #DDD;
}




